.main {
  background-color: #fff;
  padding: 30px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.main h1 {
  font-size: 20px;
  text-align: center;
}

.form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type="text"] {
  height: 40px;
  padding: 0 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  min-width: 80%;
}

.form button[type="submit"] {
  border: none;
  height: 41px;
  width: 41px;
  background: var(--pink);
  color: white;
  display: grid;
  place-content: center;
}


.tarefas {
  margin-top: 30px;

}

.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all linear .2s;
}

.tarefas li span {
  display: flex;
  align-items: center;
}

.tarefas li:hover {
  background-color: var(--blue-light);
}

.tarefas li:hover .edit {
  color: var(--blue-dark);
}

.tarefas li .edit ,
.tarefas li .delete {
  transition: all linear .2s;
  cursor: pointer;
}

.tarefas li .edit {
  margin-right: 15px;
  color: var(--blue-light);
}

.tarefas li .delete {
  margin-right: 15px;
  color: var(--pink);
}
